/* ovverides default styles*/
body{
  /* would override all other stylesheet*/
  font-size: 80% !important;
}
p {
  background-color: Green;
}

#content
{
  background-color: Fuchsia;
}

div p
{
  background-color: Gray;
}

/*
how to import CSS files
@import url("old-stylesheet.css");

for order use specifictiy rating id,class,subdivisions'
inline style has the most prefrence
*/
